@model IPM.Web.Models.UserViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Account, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-4">
        @Html.TextBoxFor(model => model.Account, new { @class = "form-control " })
        @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
    </div>

</div>

