<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="folderPath" value="Content/Upload" />
  <add key="PageSize" value="5,10,20,50,100"/>
  <add key="ConcidentColorLevel0" value="#81F781"/>
  <add key="ConcidentColorLevel1" value="#298A08"/>
  <add key="ConcidentColorLevel2" value="#FF8000"/>
  <add key="ConcidentColorLevel3" value="#FF0000"/>
  <add key="ConcidentColorLevel4" value="#FE2EF7"/>
  <add key="ConcidentColorLevel5" value="#190707"/>
  <add key="ConcidentTitleLevel0" value="Noduplicate"/>
  <add key="ConcidentTitleLevel1" value="Name"/>
  <add key="ConcidentTitleLevel2" value="Name,Birth"/>
  <add key="ConcidentTitleLevel3" value="Name,Birth,Email"/>
  <add key="ConcidentTitleLevel4" value="Name,Birth,Email,Phone"/>
  <add key="ConcidentTitleLevel5" value="Name,Birth,Email,Phone,University"/>
</appSettings>